//@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

@font-face {
    font-family : 'proxima-regular';
    src         : url('../../assets/fonts/proximanova-regular-webfont.eot');
    src         : url('../../assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proximanova-regular-webfont.woff') format('woff'),
    url('../../assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
    url('../../assets/fonts/proximanova-regular-webfont.svg#ProximaRegular') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'proxima-semibold';
    src         : url('../../assets/fonts/proximanova-semibold-webfont.eot');
    src         : url('../../assets/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proximanova-semibold-webfont.woff') format('woff'),
    url('../../assets/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
    url('../../assets/fonts/proximanova-semibold-webfont.svg#ProximaNovaSemiBold') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'proxima-bold';
    src         : url('../../assets/fonts/proximanova-bold-webfont.eot');
    src         : url('../../assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proximanova-bold-webfont.woff') format('woff'),
    url('../../assets/fonts/proximanova-bold-webfont.ttf') format('truetype'),
    url('../../assets/fonts/proximanova-bold-webfont.svg#ProximaBold') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'proxima-black';
    src         : url('../../assets/fonts/proximanova-black-webfont.eot');
    src         : url('../../assets/fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/proximanova-black-webfont.woff') format('woff'),
    url('../../assets/fonts/proximanova-black-webfont.ttf') format('truetype'),
    url('../../assets/fonts/proximanova-black-webfont.svg#ProximaNovaBlack') format('svg');
    font-weight : normal;
    font-style  : normal;
}